@model IEnumerable<CommunityAssist.Models.GrantType>
<!--add a reference to the model for book-->
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grant Types</h1>

</div>
<!--I removed all the default content and am adding a table
    the DisplayNameFor gets the column names
    the DisplayFor gets the data. We put it in a for each loop-->
<div class="row">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.GrantTypeName)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
            <td>@Html.DisplayFor(model => item.GrantTypemaximum)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeLifetimeMaximum)</td>
        </tr>
        }
    </table>
</div>